html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.container{
  // max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

// .title{
//     @extend %AlGrey-Bold;
//     font-size: 36px;
//     line-height: 49px;
//     padding: 0px 35px;
//     border-bottom: 2px solid $blue;
//     text-align: center;
//     margin: 0 auto;
//     margin-bottom: 56px;
//     max-width: fit-content;
// }