// %AnPro-Regular {
//   font-family: 'AnonymousPro-Regular', sans-serif;
//   font-weight: normal;
//   display: swap;
// }

// %AnPro-Bold {
//   font-family: 'AnonymousPro-Bold', sans-serif;
//   font-weight: 700
// }

// %AlGrey-Bold {
//   font-family: 'AlegreyaSC-Bold', sans-serif;
//   font-weight: 700;
// }

// %AlGrey-Regular {
//   font-family: 'AlegreyaSC-Regular', sans-serif;
//   font-weight: normal;
// }

// $blue: #ABD0D3;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;

@mixin textStyle(
  $color: #333333,
  $fontSize: 18px,
  $fontStyle: normal,
  $fontWeight: 400,
  $lineHeight: normal
) {
  color: $color;
  font-size: $fontSize;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
:root {
  --subContainerWidth: 1066px;
}
