<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new website</title>
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="keywords" content=""> -->
    <!-- <link rel="icon" href="images/icons/favicon.ico" type="image/x-icon"> -->

    <!-- <meta property="og:type" content="website"> -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:description" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->
    <!-- <meta property="og:site_name" content=""> -->
    <!-- <meta property="og:locale" content="ru_RU"> -->


    <link rel="stylesheet" href="../css/style.min.css">



    <style>




    </style>
</head>

<body>
    <header class="header">
        <div class="container header__container">
            <a href="../index.html">
                <img src="../img/logo/logo.svg" alt="" class="header__logo">

            </a>
            <nav class="header__nav">
                <a class="header__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="header__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="header__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="header__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="header__nav__item header-link-ui" href="#">
                    Главная
                </a>
            </nav>
            <ul class="header__social">
                <li class="header__social__item header-link-ui">
                    <a href="#">
                        <svg width="29" height="29" viewbox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_39_37" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0" y="0"
                                width="29" height="29">
                                <path d="M28.4261 0H0V28.4261H28.4261V0Z" fill="white" />
                            </mask>
                            <g mask="url(#mask0_39_37)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.99836 1.99836C0 3.99671 0 7.21171 0 13.6445V14.7816C0 21.2144 0 24.4294 1.99836 26.4278C3.99671 28.4261 7.21171 28.4261 13.6445 28.4261H14.7816C21.2144 28.4261 24.4294 28.4261 26.4278 26.4278C28.4261 24.4294 28.4261 21.2144 28.4261 14.7816V13.6445C28.4261 7.21171 28.4261 3.99671 26.4278 1.99836C24.4294 0 21.2144 0 14.7816 0H13.6445C7.21171 0 3.99671 0 1.99836 1.99836ZM4.79833 8.64722C4.95183 16.038 8.64722 20.4782 15.1255 20.4782H15.4922V16.2484C17.8743 16.4843 19.6737 18.2268 20.3957 20.4782H23.7585C22.8347 17.1154 20.4071 15.2535 18.8892 14.5428C20.4043 13.6673 22.5362 11.5353 23.045 8.64438H19.9892C19.3269 10.9895 17.3598 13.1215 15.4894 13.3233V8.64722H12.4336V16.8425C10.5376 16.3678 8.14692 14.0709 8.03891 8.64722H4.79264H4.79833Z"
                                    fill="currentColor" />
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="header__social__item header-link-ui">
                    <a href="#">
                        <svg width="27" height="28" viewbox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.0685 11.856L26.1198 0H23.738L15.0105 10.2945L8.03986 0H0L10.5409 15.567L0 28H2.38206L11.5987 17.1287L18.9601 28H27L16.0682 11.856H16.0689H16.0685ZM12.806 15.704L11.7379 14.154L3.2402 1.81945H6.89867L13.7566 11.7738L14.8247 13.3238L23.7391 26.263H20.0806L12.8062 15.7045V15.7038L12.806 15.704Z"
                                fill="currentColor" />
                        </svg>

                    </a>
                </li>
                <li class="header__social__item header-link-ui">
                    <a href="#">
                        <svg width="34" height="28" viewbox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2.3375 12.0543C11.4641 8.10241 17.5501 5.49771 20.595 4.23891C29.2889 0.64547 31.0959 0.0207391 32.273 0.000205085C32.5323 -0.00415061 33.1108 0.059318 33.4865 0.361727C33.8033 0.616846 33.8903 0.962191 33.9323 1.20424C33.9742 1.44629 34.0262 1.99822 33.9849 2.42881C33.514 7.34826 31.4753 19.2866 30.4378 24.7965C29.9989 27.1281 29.1348 27.9096 28.2983 27.9861C26.48 28.1523 25.1 26.7921 23.3387 25.6453C20.5831 23.8501 19.0265 22.7332 16.3523 20.9816C13.2611 18.9574 15.2653 17.8448 17.0266 16.0267C17.4875 15.5506 25.4982 8.31024 25.6529 7.65315C25.6723 7.57102 25.6905 7.26488 25.507 7.10309C25.3236 6.94131 25.0537 6.99669 24.859 7.04087C24.5828 7.10309 20.1811 9.99465 11.6538 15.7149C10.4046 16.5674 9.27258 16.983 8.25886 16.9613C7.14121 16.937 4.99106 16.3334 3.39254 15.817C1.43086 15.1835 -0.127593 14.8488 0.00827868 13.7735C0.079032 13.2135 0.85544 12.6404 2.3375 12.0549V12.0543Z"
                                fill="currentColor" />
                        </svg>

                    </a>
                </li>
            </ul>
            <label class="burger" for="burger" id="burger_btn">
                <input type="checkbox" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav class="burger__nav" id="burger__nav">
                <a class="burger__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="burger__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="burger__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="burger__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <a class="burger__nav__item header-link-ui" href="#">
                    Главная
                </a>
                <ul class="burger__social">
                    <li class="burger__social__item">
                        <a href="#">

                            <svg width="29" height="29" viewbox="0 0 29 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_39_37" style="mask-type:luminance" maskunits="userSpaceOnUse" x="0"
                                    y="0" width="29" height="29">
                                    <path d="M28.4261 0H0V28.4261H28.4261V0Z" fill="white" />
                                </mask>
                                <g mask="url(#mask0_39_37)">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M1.99836 1.99836C0 3.99671 0 7.21171 0 13.6445V14.7816C0 21.2144 0 24.4294 1.99836 26.4278C3.99671 28.4261 7.21171 28.4261 13.6445 28.4261H14.7816C21.2144 28.4261 24.4294 28.4261 26.4278 26.4278C28.4261 24.4294 28.4261 21.2144 28.4261 14.7816V13.6445C28.4261 7.21171 28.4261 3.99671 26.4278 1.99836C24.4294 0 21.2144 0 14.7816 0H13.6445C7.21171 0 3.99671 0 1.99836 1.99836ZM4.79833 8.64722C4.95183 16.038 8.64722 20.4782 15.1255 20.4782H15.4922V16.2484C17.8743 16.4843 19.6737 18.2268 20.3957 20.4782H23.7585C22.8347 17.1154 20.4071 15.2535 18.8892 14.5428C20.4043 13.6673 22.5362 11.5353 23.045 8.64438H19.9892C19.3269 10.9895 17.3598 13.1215 15.4894 13.3233V8.64722H12.4336V16.8425C10.5376 16.3678 8.14692 14.0709 8.03891 8.64722H4.79264H4.79833Z"
                                        fill="currentColor" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="burger__social__item">
                        <a href="#">
                            <svg width="27" height="28" viewbox="0 0 27 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.0685 11.856L26.1198 0H23.738L15.0105 10.2945L8.03986 0H0L10.5409 15.567L0 28H2.38206L11.5987 17.1287L18.9601 28H27L16.0682 11.856H16.0689H16.0685ZM12.806 15.704L11.7379 14.154L3.2402 1.81945H6.89867L13.7566 11.7738L14.8247 13.3238L23.7391 26.263H20.0806L12.8062 15.7045V15.7038L12.806 15.704Z"
                                    fill="currentColor" />
                            </svg>

                        </a>
                    </li>
                    <li class="burger__social__item">
                        <a href="#">
                            <svg width="34" height="28" viewbox="0 0 34 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M2.3375 12.0543C11.4641 8.10241 17.5501 5.49771 20.595 4.23891C29.2889 0.64547 31.0959 0.0207391 32.273 0.000205085C32.5323 -0.00415061 33.1108 0.059318 33.4865 0.361727C33.8033 0.616846 33.8903 0.962191 33.9323 1.20424C33.9742 1.44629 34.0262 1.99822 33.9849 2.42881C33.514 7.34826 31.4753 19.2866 30.4378 24.7965C29.9989 27.1281 29.1348 27.9096 28.2983 27.9861C26.48 28.1523 25.1 26.7921 23.3387 25.6453C20.5831 23.8501 19.0265 22.7332 16.3523 20.9816C13.2611 18.9574 15.2653 17.8448 17.0266 16.0267C17.4875 15.5506 25.4982 8.31024 25.6529 7.65315C25.6723 7.57102 25.6905 7.26488 25.507 7.10309C25.3236 6.94131 25.0537 6.99669 24.859 7.04087C24.5828 7.10309 20.1811 9.99465 11.6538 15.7149C10.4046 16.5674 9.27258 16.983 8.25886 16.9613C7.14121 16.937 4.99106 16.3334 3.39254 15.817C1.43086 15.1835 -0.127593 14.8488 0.00827868 13.7735C0.079032 13.2135 0.85544 12.6404 2.3375 12.0549V12.0543Z"
                                    fill="currentColor" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </header>
    <div class="wrapper">
        <main class="main">
            <section class="section sandbox">
                <div class="container sandbox_container">

                    <h2 class="section__title">
                        На пути к новому сайту
                    </h2>
                    <p class="section__desr">
                        Здесь собраны некоторое количество материалов для того, чтобы помочь Вам с выбором дизайна
                        нового сайта. Если Вам понравился какой то из вариантов, смело кликайте на него, мы получим эту
                        информацию. Если же ничего не приглянулось, обсудим при личной беседе
                    </p>

                    <div class="sandbox__step sandbox__step--style wow fadeIn">
                        <div class="sandbox__title">
                            <span class="sandbox__step__number">1</span>
                            <h3>
                                Стиль
                            </h3>
                        </div>
                        <div class="sandbox__step__content sandbox__step__content--style">

                            <label class="style_item" for="skewomorphism-button"
                                style="background: linear-gradient(
                                        180deg,
                                        rgba(255, 253, 253, 0) 0%,
                                        rgba(0, 0, 0, 0.2) 100%
                                      ), url(../img/content/sqewo.png); background-repeat: no-repeat; background-size: cover; background-position: center;">Скевоморфизм</label>
                            <label class="style_item" for="flat-button"
                                style="background: linear-gradient(
                                    180deg,
                                    rgba(255, 253, 253, 0) 0%,
                                    rgba(0, 0, 0, 0.2) 100%
                                  ), url(../img/content/flat.png); background-repeat: no-repeat; background-size: cover; background-position: center;">Flat</label>
                            <label class="style_item" for="brutalism-button"
                                style="background: linear-gradient(
                                    180deg,
                                    rgba(255, 253, 253, 0) 0%,
                                    rgba(0, 0, 0, 0.2) 100%
                                  ), url(../img/content/brutal.png); background-repeat: no-repeat; background-size: cover; background-position: center;">Брутализм</label>
                            <label class="style_item" for="minimalism-button"
                                style="background: linear-gradient(
                                    180deg,
                                    rgba(255, 253, 253, 0) 0%,
                                    rgba(0, 0, 0, 0.2) 100%
                                  ), url(../img/content/minimalism.png); background-repeat: no-repeat; background-size: cover; background-position: center;">Минимализм</label>
                            <label class="style_item" for="custom-button"
                                style="background: linear-gradient(
                                    180deg,
                                    rgba(255, 253, 253, 0) 0%,
                                    rgba(0, 0, 0, 0.2) 100%
                                  ), url(../img/content/minimalism.png); background-repeat: no-repeat; background-size: cover; background-position: center;">Свой</label>
                            <label class="style_item" for="other-button"
                                style="background: linear-gradient(
                                    180deg,
                                    rgba(255, 253, 253, 0) 0%,
                                    rgba(0, 0, 0, 0.2) 100%
                                  ), url(../img/content/minimalism.png); background-repeat: no-repeat; background-size: cover; background-position: center;">Другой</label>


                            <!-- 
                                <input type="radio" id="skewomorphism-button" name="style" value="skewomorphism">
                                <input type="radio" id="flat-button" name="style" value="flat">
                                <input type="radio" id="brutalism-button" name="style" value="brutalism">
                                <input type="radio" id="minimalism-button" name="style" value="minimalism">
                                <input type="radio" id="custom-button" name="style" value="custom">
                                <input type="radio" id="other-button" name="style" value="other"> -->
                        </div>
                    </div>
                    <div class="color sandbox__step wow fadeIn">
                        <div class="sandbox__title">
                            <span class="sandbox__step__number">2</span>
                            <h3>
                                Цвет
                            </h3>
                        </div>
                        <div class="sandbox__step__content sandbox__step__content--color">
                            <div class="color_wrapper">
                                <div class="swiper color__swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-1">
                                                <div class="swiper-slide--color__item" style="background-color: aqua;">

                                                </div>
                                                <div class="swiper-slide--color__item" style="background-color: blue;">

                                                </div>
                                                <div class="swiper-slide--color__item"
                                                    style="background-color: lightgoldenrodyellow;">

                                                </div>
                                                <div class="swiper-slide--color__item" style="background-color: white;">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-2">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-3">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-4">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-5">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-6">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-7">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-8">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-9">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                        <div class="swiper-slide">
                                            <label class="swiper-slide--color" for="color-palette-10">
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                                <div class="swiper-slide--color__item">

                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev swiper-bnt-ui swiper-button-prev--color"><svg width="42"
                                        height="42" viewbox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M20.8148 41.6299C32.3106 41.6299 41.6296 32.3109 41.6296 20.815C41.6296 9.31916 32.3106 0.000159403 20.8148 0.000158398C9.31892 0.000157393 -8.10986e-05 9.31916 -8.21036e-05 20.815C-8.31086e-05 32.3109 9.31892 41.6299 20.8148 41.6299ZM9.33104 19.549L21.831 7.04908C22.5283 6.35174 23.6591 6.35174 24.3574 7.04908C25.0548 7.74642 25.0548 8.87726 24.3574 9.57461L14.9098 19.0223C14.9098 19.0223 14.9098 19.0279 14.9126 19.0279L31.2581 19.0279C32.1223 19.0279 32.8225 19.728 32.8225 20.5922L32.8225 20.664C32.8225 21.7333 31.9554 22.5994 30.8871 22.5994L14.9126 22.5994C14.9126 22.5994 14.9079 22.6031 14.9098 22.605L24.3229 32.0181C25.0212 32.7164 25.0622 33.8603 24.3705 34.566C24.0199 34.9231 23.5575 35.1021 23.0951 35.1021C22.6327 35.1021 22.1806 34.9278 21.8319 34.5791L9.33197 22.0792C8.63277 21.38 8.63277 20.2473 9.33197 19.5481L9.33104 19.549Z"
                                            fill="currentColor" />
                                    </svg>
                                </div>
                                <div class="swiper-button-next swiper-bnt-ui swiper-button-next--color">
                                    <svg width="42" height="42" viewbox="0 0 42 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M20.8149 0C9.319 0 0 9.319 0 20.8149C0 32.3107 9.319 41.6297 20.8149 41.6297C32.3107 41.6297 41.6297 32.3107 41.6297 20.8149C41.6297 9.319 32.3107 0 20.8149 0ZM32.2986 22.0809L19.7987 34.5808C19.1013 35.2781 17.9705 35.2781 17.2722 34.5808C16.5749 33.8835 16.5749 32.7526 17.2722 32.0553L26.7199 22.6076C26.7199 22.6076 26.7199 22.602 26.7171 22.602H10.3715C9.50732 22.602 8.80718 21.9019 8.80718 21.0377V20.9659C8.80718 19.8966 9.6742 19.0305 10.7426 19.0305H26.7171C26.7171 19.0305 26.7217 19.0268 26.7199 19.0249L17.3067 9.61174C16.6084 8.91346 16.5674 7.76956 17.2592 7.06383C17.6097 6.70677 18.0721 6.52778 18.5345 6.52778C18.9969 6.52778 19.4491 6.70211 19.7978 7.05078L32.2977 19.5507C32.9969 20.2499 32.9969 21.3826 32.2977 22.0818L32.2986 22.0809Z"
                                            fill="currentColor" />
                                    </svg>
                                </div>

                                <!-- <input type="radio" name="color" id="color-palette-1" value="1">
                                    <input type="radio" name="color" id="color-palette-2" value="2">
                                    <input type="radio" name="color" id="color-palette-3" value="3">
                                    <input type="radio" name="color" id="color-palette-4" value="4">
                                    <input type="radio" name="color" id="color-palette-5" value="5">
                                    <input type="radio" name="color" id="color-palette-6" value="6">
                                    <input type="radio" name="color" id="color-palette-7" value="7">
                                    <input type="radio" name="color" id="color-palette-8" value="8">
                                    <input type="radio" name="color" id="color-palette-9" value="9">
                                    <input type="radio" name="color" id="color-palette-10" value="10"> -->

                            </div>
                        </div>
                    </div>
                    <div class="admin sandbox__step wow fadeIn">
                        <div class="sandbox__title">
                            <span class="sandbox__step__number">3</span>
                            <h3>
                                Администрирование
                            </h3>
                        </div>
                        <div class="sandbox__step__content sandbox__step__content--admin">
                            <label class="admin_item" for="admin-static">
                                <h3 class="admin_item__title">
                                    Статический сайт
                                </h3>
                                <p class="admin_item__hint">
                                    Содержимое сайта закладывается единажды. Поменять что-то нельзя
                                </p>
                            </label>
                            <label class="admin_item " for="admin-wp">
                                <h3 class="admin_item__title wp_icon_bg">
                                    Сайт на WordPress
                                </h3>
                                <p class="admin_item__hint">
                                    Содержимое можно менять и добавлять новые блоки прямо из административной панели
                                </p>
                            </label>
                        </div>
                        <!-- <input type="radio" name="admin" id="admin-static" value="static">
                            <input type="radio" name="admin" id="admin-wp" value="wp"> -->
                    </div>
                    <div class="personal_data sandbox__step wow fadeIn">
                        <div class="sandbox__title">
                            <span class="sandbox__step__number">4</span>
                            <h3>
                                Контакты
                            </h3>
                        </div>

                        <div class="sandbox__step__content sandbox__step__content--personal_data">




                            <form class="personal_data__wrapper" method="post"
                                action="https://jkorpela.fi/cgi-bin/echo.cgi">



                                <input type="radio" id="skewomorphism-button" name="style" value="skewomorphism">
                                <input type="radio" id="flat-button" name="style" value="flat">
                                <input type="radio" id="brutalism-button" name="style" value="brutalism">
                                <input type="radio" id="minimalism-button" name="style" value="minimalism">
                                <input type="radio" id="custom-button" name="style" value="custom">
                                <input type="radio" id="other-button" name="style" value="other">


                                <input type="radio" name="color" id="color-palette-1" value="1">
                                <input type="radio" name="color" id="color-palette-2" value="2">
                                <input type="radio" name="color" id="color-palette-3" value="3">
                                <input type="radio" name="color" id="color-palette-4" value="4">
                                <input type="radio" name="color" id="color-palette-5" value="5">
                                <input type="radio" name="color" id="color-palette-6" value="6">
                                <input type="radio" name="color" id="color-palette-7" value="7">
                                <input type="radio" name="color" id="color-palette-8" value="8">
                                <input type="radio" name="color" id="color-palette-9" value="9">
                                <input type="radio" name="color" id="color-palette-10" value="10">

                                <input type="radio" name="admin" id="admin-static" value="static">
                                <input type="radio" name="admin" id="admin-wp" value="wp">


                                <div class="personal_data__inputs">
                                    <input type="text" placeholder="Имя" class="personal_data__input name-input"
                                        name="name" required>
                                    <input type="email" placeholder="Email" class="personal_data__input email-input"
                                        name="email" required>
                                    <textarea cols="30" rows="10" placeholder="Сообщение" name="message"
                                        class="personal_data__input message-input" required></textarea>
                                </div>
                                <div class="checkbox-wrapper-4 personal_data__checkbox">
                                    <input class="inp-cbx" id="morning" type="checkbox" required>
                                    <label class="cbx apply__label" for="morning"><span>
                                            <svg width="12px" height="10px">
                                            </svg></span><span>Отправляя форму вы соглашаетесь с
                                            правилами</span></label>
                                    <svg class="inline-svg">
                                        <symbol id="check-4" viewBox="0 0 12 10">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </symbol>
                                    </svg>
                                </div>
                                <input type="submit" value="send" id="sandbox-submit" style="display: none;">
                            </form>

                        </div>


                    </div>
                    <div class="submit sandbox__step wow fadeIn">

                        <div class="sandbox__title">
                            <span class="sandbox__step__number">5</span>
                            <h3>
                                Отлично! Осталось только отправить
                            </h3>
                        </div>

                        <div class="sandbox__step__content sandbox__step__content--submit">
                            <label class="apply__submit send-btn-ui" for="sandbox-submit">
                                Отправить
                            </label>
                        </div>



                    </div>



                </div>
            </section>


            <div class="gradient-wrapper">

                <section class="section portfolio">

                    <div class="container portfolio__container">
                        <p class="section__descr portfolio__descr">
                            Кстати, еще у нас есть портфолио, где собраны уже готовые работы. Они могут помочь Вам
                            посмотреть различные решения и убедиться в качестве нашего дизйна

                        </p>
                        <h2 class="section__title">
                            Портфолио
                        </h2>
                        <!-- Slider main container -->
                        <div class="portfolio_wrapper">
                            <div class="swiper wow fadeInUp portfolio__swiper">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <div class="portfolio__slide-wrapper">
                                            <div class="portfolio__content">
                                                <h3 class="portfolio__title">
                                                    ООО ВЕКТОР
                                                </h3>
                                                <p class="portfolio__desr">
                                                    Сайт для копицентра в Иркутске Сайт для копицентра в Иркутске .
                                                    Lorem
                                                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor
                                                    incididunt ut
                                                </p>

                                                <a href="#" class="portfolio__link see-more-btn-ui">
                                                    Посмотреть
                                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1 7C0.447715 7 -4.82822e-08 7.44772 0 8C4.82822e-08 8.55228 0.447715 9 1 9L1 7ZM14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928932C7.95262 0.538407 7.31946 0.538407 6.92893 0.928932C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM1 9L14 9L14 7L1 7L1 9Z"
                                                            fill="white" />
                                                    </svg>

                                                </a>
                                            </div>
                                            <!-- <img src="img/content/portfolio_img.png" alt="" class="portfolio__img"> -->


                                            <div class="portfolio__img"
                                                style="background-image: url(../img/content/portfolio_img.png);"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="portfolio__slide-wrapper">
                                            <div class="portfolio__content">
                                                <h3 class="portfolio__title">
                                                    ООО ВЕКТОР
                                                </h3>
                                                <p class="portfolio__desr">
                                                    Сайт для копицентра в Иркутске Сайт для копицентра в Иркутске .
                                                    Lorem
                                                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor
                                                    incididunt ut
                                                </p>
                                                <a href="#" class="portfolio__link">
                                                    Посмотреть
                                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1 7C0.447715 7 -4.82822e-08 7.44772 0 8C4.82822e-08 8.55228 0.447715 9 1 9L1 7ZM14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928932C7.95262 0.538407 7.31946 0.538407 6.92893 0.928932C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM1 9L14 9L14 7L1 7L1 9Z"
                                                            fill="white" />
                                                    </svg>


                                                </a>
                                            </div>
                                            <!-- <img src="img/content/portfolio_img.png" alt="" class="portfolio__img"> -->
                                            <div class="portfolio__img"
                                                style="background-image: url(img/content/portfolio_img.png);"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="portfolio__slide-wrapper">
                                            <div class="portfolio__content">
                                                <h3 class="portfolio__title">
                                                    ООО ВЕКТОР
                                                </h3>
                                                <p class="portfolio__desr">
                                                    Сайт для копицентра в Иркутске Сайт для копицентра в Иркутске .
                                                    Lorem
                                                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor
                                                    incididunt ut
                                                </p>
                                                <a href="#" class="portfolio__link">
                                                    Посмотреть
                                                    <svg width="28" height="30" viewbox="0 0 28 30" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M2.00012 13C0.895553 13 0.00012207 13.8954 0.00012207 15C0.00012207 16.1046 0.895553 17 2.00012 17L2.00012 13ZM27.4143 16.4142C28.1954 15.6332 28.1954 14.3668 27.4143 13.5858L14.6864 0.857864C13.9054 0.0768156 12.639 0.0768156 11.858 0.857864C11.0769 1.63891 11.0769 2.90524 11.858 3.68629L23.1717 15L11.858 26.3137C11.0769 27.0948 11.0769 28.3611 11.858 29.1421C12.639 29.9232 13.9054 29.9232 14.6864 29.1421L27.4143 16.4142ZM2.00012 17L26.0001 17V13L2.00012 13L2.00012 17Z"
                                                            fill="white" />
                                                    </svg>

                                                </a>
                                            </div>
                                            <!-- <img src="img/content/portfolio_img.png" alt="" class="portfolio__img"> -->
                                            <div class="portfolio__img"
                                                style="background-image: url(img/content/portfolio_img.png);"></div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                            <div class="swiper-button-prev swiper-button-prev--portfolio swiper-bnt-ui"><svg width="42"
                                    height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M20.8148 41.6299C32.3106 41.6299 41.6296 32.3109 41.6296 20.815C41.6296 9.31916 32.3106 0.000159403 20.8148 0.000158398C9.31892 0.000157393 -8.10986e-05 9.31916 -8.21036e-05 20.815C-8.31086e-05 32.3109 9.31892 41.6299 20.8148 41.6299ZM9.33104 19.549L21.831 7.04908C22.5283 6.35174 23.6591 6.35174 24.3574 7.04908C25.0548 7.74642 25.0548 8.87726 24.3574 9.57461L14.9098 19.0223C14.9098 19.0223 14.9098 19.0279 14.9126 19.0279L31.2581 19.0279C32.1223 19.0279 32.8225 19.728 32.8225 20.5922L32.8225 20.664C32.8225 21.7333 31.9554 22.5994 30.8871 22.5994L14.9126 22.5994C14.9126 22.5994 14.9079 22.6031 14.9098 22.605L24.3229 32.0181C25.0212 32.7164 25.0622 33.8603 24.3705 34.566C24.0199 34.9231 23.5575 35.1021 23.0951 35.1021C22.6327 35.1021 22.1806 34.9278 21.8319 34.5791L9.33197 22.0792C8.63277 21.38 8.63277 20.2473 9.33197 19.5481L9.33104 19.549Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                            <div class="swiper-button-next swiper-button-next--portfolio swiper-bnt-ui">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M20.8149 0C9.319 0 0 9.319 0 20.8149C0 32.3107 9.319 41.6297 20.8149 41.6297C32.3107 41.6297 41.6297 32.3107 41.6297 20.8149C41.6297 9.319 32.3107 0 20.8149 0ZM32.2986 22.0809L19.7987 34.5808C19.1013 35.2781 17.9705 35.2781 17.2722 34.5808C16.5749 33.8835 16.5749 32.7526 17.2722 32.0553L26.7199 22.6076C26.7199 22.6076 26.7199 22.602 26.7171 22.602H10.3715C9.50732 22.602 8.80718 21.9019 8.80718 21.0377V20.9659C8.80718 19.8966 9.6742 19.0305 10.7426 19.0305H26.7171C26.7171 19.0305 26.7217 19.0268 26.7199 19.0249L17.3067 9.61174C16.6084 8.91346 16.5674 7.76956 17.2592 7.06383C17.6097 6.70677 18.0721 6.52778 18.5345 6.52778C18.9969 6.52778 19.4491 6.70211 19.7978 7.05078L32.2977 19.5507C32.9969 20.2499 32.9969 21.3826 32.2977 22.0818L32.2986 22.0809Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                    </div>

                </section>

                <footer class="footer">
                    <div class="container footer__container">
                        <nav class="footer__nav">
                            <a class="footer__nav__item" href="#">
                                Главная
                            </a>
                            <a class="footer__nav__item" href="#">
                                Информция
                            </a>
                            <a class="footer__nav__item" href="#">
                                Портфолио
                            </a>
                            <a class="footer__nav__item" href="#">
                                FAQ
                            </a>
                            <a class="footer__nav__item" href="#">
                                Контакты
                            </a>
                        </nav>
                        <a href="#" class="footer__email">
                            sergor2366@gmal.com
                        </a>
                        <ul class="footer__social">
                            <li class="footer__social__item">
                                <a href="#">
                                    <svg width="29" height="29" viewbox="0 0 29 29" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0_39_37" style="mask-type:luminance" maskunits="userSpaceOnUse"
                                            x="0" y="0" width="29" height="29">
                                            <path d="M28.4261 0H0V28.4261H28.4261V0Z" fill="white" />
                                        </mask>
                                        <g mask="url(#mask0_39_37)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.99836 1.99836C0 3.99671 0 7.21171 0 13.6445V14.7816C0 21.2144 0 24.4294 1.99836 26.4278C3.99671 28.4261 7.21171 28.4261 13.6445 28.4261H14.7816C21.2144 28.4261 24.4294 28.4261 26.4278 26.4278C28.4261 24.4294 28.4261 21.2144 28.4261 14.7816V13.6445C28.4261 7.21171 28.4261 3.99671 26.4278 1.99836C24.4294 0 21.2144 0 14.7816 0H13.6445C7.21171 0 3.99671 0 1.99836 1.99836ZM4.79833 8.64722C4.95183 16.038 8.64722 20.4782 15.1255 20.4782H15.4922V16.2484C17.8743 16.4843 19.6737 18.2268 20.3957 20.4782H23.7585C22.8347 17.1154 20.4071 15.2535 18.8892 14.5428C20.4043 13.6673 22.5362 11.5353 23.045 8.64438H19.9892C19.3269 10.9895 17.3598 13.1215 15.4894 13.3233V8.64722H12.4336V16.8425C10.5376 16.3678 8.14692 14.0709 8.03891 8.64722H4.79264H4.79833Z"
                                                fill="#666666" />
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer__social__item">
                                <a href="#">
                                    <svg width="27" height="28" viewbox="0 0 27 28" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.0685 11.856L26.1198 0H23.738L15.0105 10.2945L8.03986 0H0L10.5409 15.567L0 28H2.38206L11.5987 17.1287L18.9601 28H27L16.0682 11.856H16.0689H16.0685ZM12.806 15.704L11.7379 14.154L3.2402 1.81945H6.89867L13.7566 11.7738L14.8247 13.3238L23.7391 26.263H20.0806L12.8062 15.7045V15.7038L12.806 15.704Z"
                                            fill="#666666" />
                                    </svg>

                                </a>
                            </li>
                            <li class="footer__social__item">
                                <a href="#">
                                    <svg width="34" height="28" viewbox="0 0 34 28" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M2.3375 12.0543C11.4641 8.10241 17.5501 5.49771 20.595 4.23891C29.2889 0.64547 31.0959 0.0207391 32.273 0.000205085C32.5323 -0.00415061 33.1108 0.059318 33.4865 0.361727C33.8033 0.616846 33.8903 0.962191 33.9323 1.20424C33.9742 1.44629 34.0262 1.99822 33.9849 2.42881C33.514 7.34826 31.4753 19.2866 30.4378 24.7965C29.9989 27.1281 29.1348 27.9096 28.2983 27.9861C26.48 28.1523 25.1 26.7921 23.3387 25.6453C20.5831 23.8501 19.0265 22.7332 16.3523 20.9816C13.2611 18.9574 15.2653 17.8448 17.0266 16.0267C17.4875 15.5506 25.4982 8.31024 25.6529 7.65315C25.6723 7.57102 25.6905 7.26488 25.507 7.10309C25.3236 6.94131 25.0537 6.99669 24.859 7.04087C24.5828 7.10309 20.1811 9.99465 11.6538 15.7149C10.4046 16.5674 9.27258 16.983 8.25886 16.9613C7.14121 16.937 4.99106 16.3334 3.39254 15.817C1.43086 15.1835 -0.127593 14.8488 0.00827868 13.7735C0.079032 13.2135 0.85544 12.6404 2.3375 12.0549V12.0543Z"
                                            fill="#666666" />
                                    </svg>

                                </a>
                            </li>
                        </ul>
                        <a href="#" class="footer__logo">
                            <img src="../img/logo/white_logo.svg" alt="">
                        </a>

                    </div>
                </footer>

            </div>


        </main>


    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script src="../js/main.min.js"></script>
</body>

</html>